:root {
  --dark-color: rgb(46, 46, 68);
  --medium-color: rgb(64, 78, 121);
  --main-color: rgb(230, 232, 230);
  --accent-color: rgb(218, 69, 69);
  --accent-active: rgb(187, 51, 51);
  --text-on-dark: rgb(255, 255, 255);
  --shadow-color: rgba(155, 155, 175, 0.459);
  --padding-regular: 20px;
  --border-radius-regular: 15px;
  --gap-regular: 25px;
  --gap-small: 10px;
}
body {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.6fr 3fr;
  grid-template-rows: 1fr 4fr;
}

/*SIDE BAR*/
.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: var(--padding-regular);
  align-items: center;
}
.logo-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-regular);
  color: var(--text-on-dark);
}
.logo-mark > i {
  font-size: 2em;
}
.btn {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--gap-small);
  width: 100%;
  padding-left: 1em;
  transition: all 0.2s ease;
}
.btn > h3:hover {
  text-decoration: underline var(--text-on-dark) 2px;
}
.btn > h3 {
  cursor: pointer;
  color: var(--text-on-dark);
}
.panel-1 {
  margin-top: 2em;
}
.panel-2 {
  margin-top: 3em;
}
.panel-1,
.panel-2 {
  width: 100%;
}
.option {
  margin-left: 0;
  width: 100%;
}
/*HEADER*/
.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--text-on-dark);
  display: grid;
  grid-template-rows: 70px 100px;
  box-shadow: 0 4px 2px 2px black;
}
.upper-panel {
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-regular);
  border-bottom: var(--shadow-color) 2px solid;
}
.left-panel-upper > i,
.right-panel-upper > i {
  color: var(--dark-color);
}
.left-panel-upper,
.right-panel-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.right-panel-upper > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.lower-panel {
  grid-row: 2/3;
}

.search-bar {
  margin-left: 1em;
  height: 30px;
  width: 600px;
  border: none;
  background-color: var(--shadow-color);
  padding: 10px;
  border-radius: var(--border-radius-regular);
}
.lower-panel {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-regular);
  align-items: center;
}
.left-panel-lower {
  display: flex;
  align-items: center;
  gap: var(--gap-regular);
}
.left-panel-lower > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.right-panel-lower {
  display: flex;
  gap: var(--gap-regular);
  align-items: center;
}
.right-panel-btn {
  height: 40px;
  width: 100px;
  color: var(--text-on-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  font-size: 1em;
  border: none;
  border-radius: var(--border-radius-regular);
  transition: transform 0.2s ease-in-out;
}
.right-panel-btn:hover {
  transform: scale(1.05);
}
.right-panel-btn:active {
  background-color: var(--accent-active);
}
.text > h1 {
  line-height: 0px;
}
i {
  color: var(--text-on-dark);
  font-size: 1.4em;
}
/*MAIN CONTENT*/
.main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--main-color);
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 1fr 250px;
  padding: var(--padding-regular);
  gap: var(--gap-regular);
}
.main > div {
  border-radius: var(--border-radius-regular);
  background-color: var(--text-on-dark);
}
.content-card {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.announcement {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
